.chart-nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 16px;
}

.chart-nav-button:hover {
  background: #fcba03;
}

.header-container {
  margin: 0 24px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.chart-content {
  flex-grow: 1;
  height: 100%;
}

.overview {
  height: 100px;
}